/*
  selector {
    property: value;
    porperty: value;
  }

  selectors:
    - Element: p
    - Id: #id1
    - Class: .class1
*/

body {
  margin: 40px;
  margin-top: 20px;
}

a {
  letter-spacing: 2px;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 60px;
  display: flex;
  font-family: "Outfit", serif;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin-right: 124px;
}
.navbar2 a {
  margin-right: 50px;
  position: relative;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.header a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: .3s;
}
.header a:hover::before {
  width: 100%;
}

.name {
  margin-top: 0px;
  padding: 30px;
  z-index: 1000;
  width: 958px;
}

h1 {
  font-family: "Antonio", serif;
  font-size: 200px;
  font-weight: bolder;
  letter-spacing: 13px;
  margin: 0px;
  padding: 0px;
}

p {
  margin-top: 57px;
  padding-left: 11px;
  font-family: "Roboto", serif;
  letter-spacing: 2px;
  width: 400px;
}

.aguado {
  width: 600px;
}

.keinth {
  width: 490px;
}

.downName {
  margin-top: 65px;
  display: inline-flex;
}

.content1 {
  display: inline-flex;
}

img {
  z-index: 0;
  margin-top: 89px;
}