/*
  selector {
    property: value;
    porperty: value;
  }

  selectors:
    - Element: p
    - Id: #id1
    - Class: .class1
*/
/*
  font-family: "Outfit", serif;
*/

* {
  text-decoration: none;
}

body,html {
  margin: 0px;
  padding: 0px;
  display: block;
  scroll-behavior: smooth;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-left {
  font-size: 24px;
}

.navbar-right li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}